# Next.js
.next/
out/

# Dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# Environment variables
.env*.local
.env

# Vitest / Coverage
coverage/
*.lcov

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# System Files
.DS_Store
*.pem

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Agent data
.agents/
